
.parent {
	position: relative;
	min-height: 100vh;
  background-color: #f3f3f3;
	display: flex;
	align-items: center;
	justify-content: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to bottom, #273890, #b52732);
   background-repeat: no-repeat;
   background-size: cover;


}

.mat-mdc-dialog-surface {
display: ruby;
}

.form-structor {
	background-color: #ffffff;
	border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
	overflow: visible;
  align-self: center;


	&::after {
		content: '';
		opacity: .80;
		position: absolute;
		top: 30px;right:0;bottom:0;left:0;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 350px;
		;
	}



}
