<div>
  <div>

    <div class="d-flex justify-content-center" style="vertical-align:middle;">
      <div class="spinner-border text-danger" *ngIf="spinner" styrole="status">
        <span class="sr-only"></span>
      </div>
    </div>


    <div class="table-responsive col-lg-8">
      <table class="table project-list-table table-nowrap align-middle">
        <thead>
          <tr>
            <th>Filtro</th>
            <th colspan="2" width="100%">
              <div class="form-group">
                <input type="text" class="form-control" name="nome_completo" [(ngModel)]="filtro_nome">
              </div>
            </th>
          </tr>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col" class="td-total">Escalao</th>
            <th scope="col" class="td-total">Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jogador of jogadores | filtroJogadorPipe:filtro_nome ; index as posicao;">
            <td><img src="assets/img/jogadores/{{jogador.id_Jogador}}_avatar.jpg"
                onerror="this.onerror=null; this.src='assets/img/jogadores/default_avatar.jpg'" alt=""
                class="avatar-sm rounded-circle me-2" />{{jogador.nome_Jogador}}</td>
            <td class="td-total" style="font-size: smaller;">{{jogador.escalao}}</td>
            <td class="td-total"><button type="button" class="btn btn-info text-white"
                (click)="seleciona(jogador.id_Jogador)">Seleccionar</button></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-warning text-white"
                (click)="cancelarSelecao()"  >Cancelar</button>
      <button type="button" class="btn btn-info text-white" (click)="novoJogador()" *ngIf="origem_gestao_equipa">Addicionar Novo Jogador</button>
    </div>


  </div>
</div>
