/* Fundo branco */
body {
  background-color: #f8f9fa;
}

.table-wrapper {
  display: block;
  overflow: auto;
  white-space: nowrap;
}

.container{
  margin-top: 50px;
}

/* Estilo do card de perfil */
.profile-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-pic {
  margin-top: -80px;
  background: linear-gradient(135deg, #6fb5f3, #1f78d1);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.profile-card .profile-pic img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.profile-card h3 {
  font-weight: 700;
  margin-top: 20px;
}

.profile-card .number-input {
  margin: 10px auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #b52732;
  color: white;
  border: none;
}

/* Estilo dos cards de informação */
.info-card, .faltas-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.info-card .info-title, .faltas-card .info-title {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid #6fb5f3;
  padding-bottom: 10px;
}

.table-hover tbody tr:hover {
  background-color: #f2f2f2;
}

.btn-primary {
  background-color: #1f78d1;
  border-color: #1f78d1;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #155a9a;
  border-color: #155a9a;
}

/* Estilo dos campos de formulário */
.form-control {
  border-radius: 10px;
  border: 1px solid #ced4da;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 8px rgba(128, 189, 255, 0.5);
}

/* Responsividade */
@media (max-width: 768px) {
  .profile-card {
    margin-top: 50px;
  }
}
