name: Build & Deploy Angular Multi-Client

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        client: [hcmaia, advalongo, cis]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build Angular (${{ matrix.client }})
        run: npm run build:${{ matrix.client }}

      - name: Remove assets folder before upload
        run: rm -rf dist/${{ matrix.client }}/browser/assets

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          local-dir: dist/${{ matrix.client }}/browser
          server-dir: //httpdocs/teste/${{ matrix.client }}
          exclude: |
            **/assets/**
            **/.git*
